.back{
    width: 100%;
    object-fit: contain;
    background-image: url("/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
img{
    object-fit: contain;
}