.project-container {
    display: flex;
    min-height: 90vh;
}

.project-list {
    width: 10%;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
}

.project-list h2 {
    color: #333;
}

.project-list ul {
    list-style-type: none;
    padding: 0;
}

.project-list li {
    padding: 5px;
    cursor: pointer;
}

.project-list li:hover {
    background-color: #e0e0e0;
}

.task-lanes {
    width: 90%;
}

.task-lanes h2 {
    color: #333;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.lanes {
    display: flex;
}
.lane {
    width: 33%;
}
.lane ul{
    list-style-type: none;
    padding: 0;
}

.task-lanes li {
    padding: 5px;
    cursor: pointer;
}

.task-lanes li:hover {
    background-color: #e0e0e0;
}

.comments ul{
    list-style-type: none;
    padding: 0;
}