.project-container {
    display: flex;
    min-height: 90vh;
    background-image: url("../../../public/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.project-list {
    width: 10%;
    padding: 20px;
    background: rgba(230, 234, 235, 0.8);
    border-right: 1px solid #ccc;
}

.project-list h2 {
    color: #333;
}

.project-list ul {
    list-style-type: none;
    padding: 0;
}

.project-list li {
    padding: 5px;
    cursor: pointer;
}

.project-list li:hover {
    background-color: #e0e0e0;
}

.task-lanes {
    background: rgba(230, 234, 235, 0.8);
    width: 90%;

}

.tip2{
    font-size: 40px;
    padding-top: 20%;
    padding-bottom: 30%;
}
.task-lanes h1 {
    color: #333;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.lanes {
    display: flex;
}
.lane {
    width: 33%;
}
.lane ul{
    list-style-type: none;
    padding: 0;
}

.task-lanes li {
    padding: 5px;
    cursor: pointer;
}

.task-lanes li:hover {
    background-color: #e0e0e0;
}

.comments ul{
    list-style-type: none;
    padding: 0;
}