#root {
  font-family: 华文黑体;
  width: 100%;
  text-align: center;
}
.container {
  margin: auto;
  display: flex;
}
.logo {
  padding-bottom: 100px;
  width: 100px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

