header {
  background-color: #83c5dc;
  height: 5vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  top: 0;
  position: sticky;
  z-index: 99999;
}

.head {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 10px;
}

ul {
  align-items: center;
}

header img {
  position: absolute;
}

.navList {
  display: flex;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header a {
  color: #ffffff;
  font-size: 1.5em;
  letter-spacing: 30px;
  text-align: center;
  margin-left: 50px;
  transition: 0.2s;
}

header h4 {
  font-weight: 500;
  margin-right: 20px;
}

header img {
  width: 200px;
  height: 60px;
}

@keyframes jump {
  0%, 20%, 80%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(-6px);
  }
  70% {
    transform: translateY(-3px);
  }
}

.navList li:hover {
  animation: jump 0.3s ease;
}