.team {
    background-image: url("../../../public/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    width: 100%;
    min-height: 90vh;
}

.intro {
    background: rgba(205, 230, 237, 0.8);
    width: 40%;
}

.members{
    background: rgba(230, 234, 235, 0.8);
    width: 60%;
    justify-content: center;
    align-items: center;
}

.tip1{
    font-size: 25px;
    padding-top: 30%;
    padding-bottom: 30%;
}

.intro_button{
    font-size: 18px;
}
h3{
    font-size: 25px;
    position: relative;
}
.teamname{
    font-size: 35px;
    padding-top: 10%;
    padding-bottom: 25%;
}
.introduce{
    font-size: 25px;
}
.username{
    font-size: 20px;
    padding-right: 7%;
}
.title{
    padding-top: 3%;
}