.team {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.intro {
    background: rgba(205, 230, 237, 0.9);
    width: 40%;
}

.members{
    background: rgba(230, 234, 235, 0.9);
    width: 60%;
}

